@{ ViewData["Title"] = "Home Page"; }

<div class="text-center">
    <h4 class="display-1">Prelim Exam</h4>
    <br />
    <div class="jumbotron">
        <h3>By: Teñoso, John Michael S.</h3>
        <h4>BSCS31E1</h4>
    </div>
</div>
